<router-outlet></router-outlet>
<mat-card>
    <mat-toolbar>Test Bottom</mat-toolbar>
    <button mat-raised-button color="primary" class="nav-item nav-link-edit" [routerLink]="['sec-and-priv']">Security  and Privacy  Policy</button>
    <button mat-raised-button color="primary" class="nav-item nav-link-edit" [routerLink]="['acc-use-poli']">Acceptable Use Policy</button>
    <button mat-raised-button color="primary" class="nav-item nav-link-edit" [routerLink]="['dcma-not-tak-poli']">DMCA Notice & TakeDown Policy</button>
</mat-card>