<div id="pageContainer">
    <mat-card>
        <mat-toolbar color="lightblue">Draft My Schedule</mat-toolbar>

        <mat-card>
            <button mat-raised-button color="primary" (click)="logout()">Logout</button>
        </mat-card>
        <mat-card>
            <mat-toolbar color="pink">Search</mat-toolbar>
            <form fxLayout="column" [formGroup]="searchCourseForm" (ngSubmit)="onSubmitCourse()">
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input matInput type="text" placeholder="Enter Subject Name" formControlName="subject" name="subject" id="subject">
                </mat-form-field>
                  
                <mat-form-field appearance="outline">
                  <mat-label>Course Number</mat-label>
                  <input matInput type="text" placeHolder="eg. 1001" formControlName="courseNumber" name="courseNumber" id="courseNumber">
                </mat-form-field>
    
                <button mat-raised-button color="lightblue" type="submit">Submit</button>
            </form>
        </mat-card>

        <mat-card>
            <mat-toolbar color="pink">Search by keyword</mat-toolbar>
            <form fxLayout="column" [formGroup]="searchCourseFormKey" (ngSubmit)="onSubmitKey()">
                <mat-form-field appearance="outline">
                    <mat-label>Enter keyword</mat-label>
                    <input matInput type="text" formControlName="keyword" name="keyword" id="keyword">
                    <mat-error *ngIf="hasErrorKey('keyword', 'minlength')">The value is lower than the minimum</mat-error>
                </mat-form-field>
                <button mat-raised-button color="lightblue" type="submit">Submit</button>
            </form>
        </mat-card>

        <mat-card>
            <mat-toolbar color="pink">Your created schedules</mat-toolbar>
            <div [innerHtml]="htmlSchedule"></div>
        </mat-card>

        <mat-card>
            <mat-toolbar color="pink">Create a Schedule</mat-toolbar>
            <form [formGroup]="createSchedule" (ngSubmit)="onSubmitSchedule()">

                <mat-form-field appearance="outline">
                    <mat-label>Enter the name of the schedule</mat-label>
                    <input matInput type="text" formControlName="scheduleName" name="scheduleName" id="scheduleName" required>
                    <mat-error *ngIf="hasError('scheduleName', 'required')">You must enter a name for the schedule</mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Description(Optional)</mat-label>
                    <input matInput type="text" formControlName="description" name="description" id="description">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Visibility(Optional)</mat-label>
                    <input matInput placeHolder="Either type in 'public' or 'private'"type="text" formControlName="visibility" name="visibility" id="visibility">
                </mat-form-field>

                <button mat-raised-button color="lightblue" type="submit">Submit</button>
            </form>
        </mat-card>

        <mat-card>
            <mat-toolbar color="pink">Delete a Schedule</mat-toolbar>
            <form [formGroup]="deleteScheduleForm" (ngSubmit)="onDeleteSchedule()">
                <mat-form-field>
                    <mat-label>Enter the name of the schedule</mat-label>
                    <input matInput type="text" formControlName="deleteSchedule" name="deleteSchedule" id="deleteSchedule">
                </mat-form-field>

                <input type='hidden' formControlName="userID" name="userID" id="userID">
                
                <button mat-raised-button color="lightblue" type="submit">Submit</button>
            </form>
        </mat-card>
        
        <mat-card>
            <mat-toolbar color="pink">Get Public Schedule</mat-toolbar>
            <button mat-raised-button color="lightblue" (click)="onPublicSchedules()">Get</button>
            <div [innerHtml]="htmlSchedulePub"></div>
        </mat-card>
        
        <mat-card>
            <mat-slide-toggle [formControl]="enable" (change)="onChange($event)">Expand</mat-slide-toggle>
            <div class="outputNotif" id="outputNotif">
                <div *ngIf="limited" [innerHtml]="htmlToAdd"></div>
                <div *ngIf="full" [innerHtml]="htmlToAddFull"></div>
            </div>
        </mat-card>
    </mat-card>
</div>