<mat-card>
    <mat-toolbar color="primary">Acceptable Use Policy</mat-toolbar>
    <h1>1. Overview</h1>
    <p>
        Brandon's intentions for publishing an Acceptable Use Policy are not to outline the constraints and proper practices that need
        to be met when using this website. The created system that is being used currently to view this policy is property of Brandon.
        This system is to be used for educational purposes in serving the interests of other developers.
    </p>
    <h1>2. Purpose</h1>
    <p>
        The purpose of this policy is to outline the acceptable use of the website.
        These rules are in place to protect every person using this website.
    </p>
    <h1>3. Scope</h1>
    <p>
        This policy applies to all users of the website, including any administrator,authenticated or non-authenticated user.
    </p>
    <h1>4. Policy</h1>
    <p>
        Any information stored on electronic and computing devices is the sole property of Brandon. You have a responsibility
        to prompt the owner of the website of any theft or loss of information stemming from the website.
        The administrator may access, use or share the website's inforamtion only to the extent it is authorized and neccessary
        to fulfill your roles.
        For maintenance purposes, authorized individuals including the owner of the website and any administrator may monitor inforamtion
        and interactions made on the website.
    </p> 
</mat-card>
