<div class=container>
    <mat-card fxFlex="200">
        <mat-toolbar color="lightblue">Register Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="hasError('email', 'email')">Not a valid email</mat-error>
                <mat-error *ngIf="hasError('email', 'required')">You must enter a value</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" required>
                <mat-error *ngIf="hasError('password', 'required')">You must enter a value</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="First Name" formControlName="fName" required>
                <mat-error *ngIf="hasError('fName', 'required')">You must enter a value</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Re-enter Pasword" formControlName="password2" required>
                <mat-error *ngIf="hasError('password2', 'required')">You must enter a value</mat-error>
            </mat-form-field>
            <button mat-raised-button color="lightblue" type="submit">Register</button>
        </form>
    </mat-card>
</div>
