<div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect username or password
</div>
<div class=container fxLayoutAlign = "center center">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onLogin">
            <mat-form-field>
                <input matInput placeholder="Username" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" required>
            </mat-form-field>
            <button [disabled]="!loginForm.valid" mat-raised-button type="submit">Login</button>
        </form>
    </mat-card>
    
</div>