<div id="pageContainer">
    <mat-card>
        <mat-toolbar color="lightblue">Draft My Schedule</mat-toolbar>

        <p>Welcome to Draft My Schedule Limited Version. In here you can query for courses and view public course schedules</p>
        <p>If you would like to have more functions available, please register with the website or if you already have an account then please login.</p>
        <mat-card>
            <button mat-raised-button color ="primary" (click)="register()">Register</button>
        </mat-card>
        <mat-card>
            <mat-toolbar color="pink">Search</mat-toolbar>
            <form fxLayout="column" [formGroup]="searchCourseForm" (ngSubmit)="onSubmitCourse()">
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input matInput type="text" placeholder="Enter Subject Name" formControlName="subject" name="subject" id="subject">
                </mat-form-field>
                  
                <mat-form-field appearance="outline">
                  <mat-label>Course Number</mat-label>
                  <input matInput type="text" placeHolder="eg. 1001" formControlName="courseNumber" name="courseNumber" id="courseNumber">
                </mat-form-field>
    
                <button mat-raised-button color="lightblue" type="submit">Submit</button>
            </form>
        </mat-card>

        <mat-card>
            <mat-toolbar color="pink">Search by keyword</mat-toolbar>
            <form fxLayout="column" [formGroup]="searchCourseFormKey" (ngSubmit)="onSubmitKey()">
                <mat-form-field appearance="outline">
                    <mat-label>Enter keyword</mat-label>
                    <input matInput type="text" formControlName="keyword" name="keyword" id="keyword">
                    <mat-error *ngIf="hasError('keyword', 'minlength')">The value is lower than the minimum query</mat-error>
                </mat-form-field>
                <button mat-raised-button color="lightblue" type="submit">Submit</button>
            </form>
        </mat-card>
        
        <mat-card>
            <mat-toolbar color="pink">Get Public Schedule</mat-toolbar>
            <button mat-raised-button color="lightblue" (click)="onPublicSchedules()">Get</button>
            <div [innerHtml]="htmlSchedule"></div>
        </mat-card>

        <mat-card>
            <mat-slide-toggle [formControl]="enable" (change)="onChange($event)">Expand</mat-slide-toggle>
            <div class="outputNotif" id="outputNotif">
                <div *ngIf="limited" [innerHtml]="htmlToAdd"></div>
                <div *ngIf="full" [innerHtml]="htmlToAddFull"></div>
            </div>
        </mat-card>
    </mat-card>
</div>
          

  
    
